@charset "utf-8";
/* CSS Document */


#green1 {
	color: green;
}

#green2 {
	color: green;
}

#green3 {
	color: green;
}

#boldgreen {
	background-color: green;
	color:white;
}
#Lottery {
    display: block;          
    margin: 40px auto;      
    max-width: 80%;         
    height: auto;           
    border-radius: 10px;     
}
